{
    "root": true,
    "extends": ["airbnb"],
    "parser": "babel-eslint",
    "plugins": ["jsdoc", "jsx-a11y", "react", "compat"],
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
      }
    },
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest": true 
    },
    "rules": {
      "array-callback-return": "off",
      "comma-dangle": ["error", "never"],
      "compat/compat": "error",
      "eqeqeq": ["error", "smart"],
      "func-names": "off",
      "import/extensions": [
        "error",
        "never",
        {
          "jsx": "always",
          "json": "always"
        }
      ],
      "import/no-extraneous-dependencies": [
        "off",
        {
          "devDependencies": false,
          "optionalDependencies": false,
          "peerDependencies": false
        }
      ],
      "jsdoc/check-param-names": "error",
      "jsdoc/check-tag-names": "error",
      "jsdoc/check-types": "error",
      "jsdoc/no-undefined-types": "error",
      "jsdoc/require-param-description": "error",
      "jsdoc/require-param-type": "error",
      "jsdoc/require-param": "error",
      "jsdoc/require-returns-type": "error",
      "jsdoc/require-param-name": "error",
      "jsx-a11y/href-no-hash": "off",
      "no-console": [
        "error",
        {
          "allow": ["warn", "error"]
        }
      ],
      "no-param-reassign": "off",
      "react/require-default-props": "off",
      "react/jsx-filename-extension": [
        "error",
        {
          "extensions": [".js", ".jsx"]
        }
      ],
      "react/react-in-jsx-scope": "off",
      "react/jsx-one-expression-per-line": [ "error", { "allow": "single-child" }],
      "valid-jsdoc": "error"
    },
    "settings": {
      "polyfills": ["fetch"],
      "react": {
        "version": "detect"
      }
    }
  }